.app {
  width: 100vw;
  margin: auto;
  /* background-color: aqua */
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5vh;
  flex-direction: column;
}






@media (max-width: 600px) {
  .app {
    width: 90vw;
    background-color: rgb(17, 37, 37);
  }
}
